<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real-time tracker</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="search-container">
    <input type="text" id="search-input" placeholder="Search for a location..." />
    <button id="search-btn">Search</button>
  </div>
  <div id="map" class="map">

  </div>

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
  
</body>
</html>